<div id="page" class="container container-twelve clearfix">

  <div class="eight columns">
    <div class="container-box">
      <div class="container-box-inner">
        <h1 class="heading"><span>Guide for Non-Profit Agencies</span></h1>

        <p>GiveCamp is a weekend-long event where technology professionals – from designers, developers and database administrators to marketers and web strategists – donate their time to provide solutions for non-profit organizations.</p>

        <p><em>&rarr; <a rel="download" href="/images/assets/Non-ProfitApplicationGuide.pdf">Download a PDF version of the Guide.</a></em></p>

        <div class='clearDivider'></div>

        <h2>Why Your Agency Should Apply</h2>
        <ul class='check'>
          <li>Connection to local IT and Software companies</li>
          <li>Get help with long-term planning and development ideas</li>
          <li>Develop a social media strategies</li>
          <li>Redesign your website with a new look or more interactivity</li>
          <li>Learn to use your IT products better</li>
          <li>Get help building and implementing a database or other system</li>
        </ul>

        <div class='lineDivider'></div>

        <h3>Agency’s Guide to a Good Project</h3>
        <p>Here are some things to consider when deciding what project to submit:</p>
        <ol>
          <li>
            <h4>Scale - Can the project be done in one weekend?</h4>
            <p>Due to the short time allotted to the GiveCamp event, it is in your best interest that these projects are manageable. In this situation, it is much better to ask for too little than too much. This way, there will be time enough for the project to reach completion and hopefully even leave room for some extra creative professional input and overall, better quality. </p>
          </li>
          <li>
          <h4>Specificity - Is it clear what is wanted/required?</h4>
          <p>Being as clear as possible with your goals from the start helps us greatly in determining the best way to meet your needs; both in terms of setting up your team and determining the feasibility of your project. Have you provided enough details to explain the complete goal of your project to a team in a short briefing? Have you left room for interpretation, or did you lay out clear project requirements?</p>
          </li>
          <li>
          <h4>Skills available - Do we have volunteers with the skills required?</h4>
          <p>The volunteers at GiveCamp come from a variety of backgrounds. A majority of them  are trained professionals in their particular fields. We strive to recruit as many people as possible, however we may not be able to determine and assign the exact specialist you may require. For this reason, it is essential to use great detail in describing your specific needs to us with your particular system or platform.  Doing so will assist us in reaching out to the people in the areas where help is needed most.</p>
          </li>
          <li>
          <h4>Strings - What are the precursive requirements of the project?</h4>
          <p>What are you using for your existing website, application, or process? What programing languages or platforms are currently being used?  Are there any vendors that currently provide services such as hosting? What kind of technical tools are your staff knowledgeable in?</p>
          <p>Giving us an overview of the technology that is currently utilized by your nonprofit will help us in shaping the appropriate technology solution that will accomplish what you need it to without the need for ongoing maintenance.</p>
          </li>
          <li>
          <h4>Sustainability - Will the results of the project continue on without needing ongoing donated IT support?</h4>
          <p>When writing your proposal, keep in mind that the volunteers who will be working on  your project will most likely not be to provide updates and maintenance after the weekend of GiveCamp. If the project is a website or similar project where you need to update the content periodically, mention that in your proposal. </p>
          <p>During the weekend of GiveCamp, be sure to ask your project team how the application they are producing works. Most of the volunteers will be happy to show you some simple maintenance that you can do on your own and you might even give them ideas for  features to make the project easier for you to maintain.</p>
          </li>
          <li>
          <h4>Impact - Will this project make a large impact for the agency</h4>
          <p>Let us know how the project will impact your organization. What will the completion of the project allow you to do? Will it allow you to bring more attention or donations to your organization? Will it free up your staff to focus on tasks that are more important to your organization?</p>
          </li>
        </ol>

        <div class='lineDivider'></div>

        <h3>Agency’s Guide to a Good Application</h3>
        <h4>Pre-Planning is the key</h4>
        <p>The outcome of your project is very dependent upon the effort you put into planning your project and your application. Before you even start the application, you should have a clear picture of the project in your mind. A good project that will really make a difference to your organization will probably involve more than one person. Think about:</p>
        <ul>
          <li>Who from your agency needs to be involved in planning what project to submit?</li>
          <li>What effects will this project have on your agency and your clients?</li>
          <li>What items are essential or critical and what could be eliminated if time grows short?</li>
        </ul>

        <h4>Clarity, Clarity, Clarity</h4>
        <p>One of the most challenging aspects of GiveCamp is the time it takes for the volunteers to learn about the details of your project. While your application won’t be able to describe every necessary component, a clearly defined project will allow the volunteers to cut down on the learning curve and get to work faster.</p>

        <p>You will have an opportunity to meet your team and discuss your project during an orientation meeting that will occur a few weeks before GiveCamp weekend.</p>

        <h4>Sell it!</h4>
        <p>GR GiveCamp will review your application and seek to partner your agency with the right group of volunteers. You can help to engage those volunteers on the importance of your project by 'selling' the value that this project will have on your agency and your clients. Be sure to communicate how your agency will benefit, any cost savings, and the improvement in services to your clients.</p>

        <div class='lineDivider'></div>

        <h3>Agency’s Guide to a Good Event</h3>
        <h4>Being There</h4>
        <p>GiveCamp is a commitment. Your agency’s presence for all components is crucial to the success of your project. Having the right representatives is also important. Your volunteer team will benefit from having a balance of vision about the overall project and technical knowledge about the necessary components of your project. If one person doesn’t represent a good balance of these two components, consider sending two or more representatives.</p>

        <p>Selected agencies must agree to attend the orientation event and the entire weekend. Your volunteers need you there to answer critical questions and provide guidance.</p>

        <h4>Being Honest</h4>
        <p>Your final product will reflect the quality of the guidance you provide. Being honest about the most important and least important features will keep your team focused on priorities. Be honest when you feel your team is headed in the wrong direction or stalled on a minor feature. Be honest about which features could be set aside if time grows short.</p>

        <h4>Being Flexible</h4>
        <p>Like every project, you can expect the unexpected. The final product is never quite what you thought it would be, but when you are flexible, the product is usually better than expected.</p>
        <p>Being flexible at GiveCamp means adapting to the ideas, challenges and successes of the weekend. Your team might provide valuable input that you didn’t consider during your application. Rely on you and your team’s best judgement to keep the project on track and in line with the goals.</p>

        <div class='lineDivider'></div>

        <h3>Agency’s Guide to a Next Steps:</h3>
        <ol>
          <li>Start dreaming about what technology support or project could benefit your agency and clients.</li>
          <li>Begin thinking about goals and features. Remember, including multiple people from your agency in the planning process is recommended.</li>
          <li>Complete your application. Visit <a href="/non-profits/apply.html">http://grgivecamp.org/non-profits/apply.html</a> to get started.</li>
        </ol>
        <p>Need to talk to someone? email <a href="mailto:apply@grgivecamp.org">apply@grgivecamp.org</a></p>

        <div class='clearDivider'></div>
      </div><!-- .container-box-inner -->
    </div><!-- .container-box -->
    <div class="box-bottom bottom-full"></div>
  </div><!-- .eight -->

  <div class="four columns">
    <%= partial "partials/non-profit-nav" %>

    <div class='column'>
      <div class='container-box-inner'>
        <blockquote>
          <p>... During GiveCamp 2012, the inventory concepts were developed into a scaled database model for use and testing by the West Michigan Region of the American Red Cross. The inventory system is expected to be implemented in additional parts of the country over the next several months with additional features being planned now.</p>
        <small>Chip Kragt <a href="http://www.redcross.org/mi/grand-rapids" rel="external">American Red Cross of West Michigan</a></small>
        </blockquote>
        <p>&rarr; <a href="/non-profits/testimonials.html">Read more testimonials!</a></p>
      </div>
    </div>
    <%= partial "partials/non-profit-apply" %>
    <%#= partial "partials/volunteer" %>
  </div><!-- .four -->

</div><!-- container -->
