<div id="page" class="container container-twelve clearfix">

  <div class="eight columns">
    <div class="container-box">
      <div class="container-box-inner">

        <h1 class="heading"><span>Non-profit testimonials</span></h1>
        <p>Over the past several years, dozens of West Michigan non-profit organizations have benefitted from the technology services provided by GR GiveCamp.  Here’s what some of them had to say about the experience.</p>


        <h4>MomsBloom</h4>
        
            <p><span class="bold">What technology problem brought you to GiveCamp?</span><p>
            <blockquote><p>MomsBloom is a grassroots organization founded six years ago to serve families during the postpartum period through peer support and advocacy. Each year we match 250 mothers with a dedicated volunteer to provide care and support during the early postpartum period. We have trained over 300 volunteers and have served over 700 families--but we didn't have a database! We've been existing on a glorified Excel spreadsheet to track our families and a simple notebook to hold our volunteers' information. The system we used to match volunteers with mothers was cumbersome and confusing. There were also safety concerns in regard to potential loss of information.</p></blockquote>
        
            <p><span class="bold">What technology solution did GiveCamp provide?</span></p>
            <blockquote><p>We were assigned to the team from OST, with Jason Sich and Brian Scaturro doing the bulk of the work. They created a from-scratch MomsBloom database that contains two parts: a family database and a volunteer database. The family database allows us to enter and store all pertinent information related to the family we're serving. The volunteer component allows us to enter pertinent--but different--information for our volunteers. One key feature that was incorporated into the database design is a GPS/location system that makes an automatic match between family and volunteer possibilities, based on location! The database is also completely secure, with only staff having the ability to access their personal information.</p></blockquote>

            <p><span class="bold">How has this impacted your organization?</span></p>
            <blockquote><p>It's had a tremendous impact. It allows us to access our information much more quickly since it's so well-organized. It also allows more than just one of us to be able to view our volunteer database. The location finder is a dream--it cuts out a ton of time in terms of finding an initial batch of volunteers.</p></blockquote>

            <p><span class="bold">How has this impacted the community and people that you serve?</span></p>
            <blockquote><p>It allows us to make matches much more quickly. Before, families had a longer wait time until they actually had someone in the home helping out with their new babies. Things move much more quickly and smoothly now.</p></blockquote>

            <p><span class="bold">In one sentence, describe what GiveCamp means to your organization.</span></p>
            <blockquote><p>GiveCamp means babies and their mothers get much-needed help in the home faster and more efficiently than ever!</p></blockquote>
            
            <p>Becca Walsh-Wolfe, Program Director, <a href="http://www.momsbloom.org/" rel="external" target="_blank">MomsBloom</a></p>
        <div class='clearDivider'></div>

        <h4>Dispute Resolution Center of West Michigan</h4>
        
            <p><span class="bold">What technology challenge brought the Dispute Resolution Center to GiveCamp in 2013?</span></p>
            <blockquote><p>We had a terribly ugly, old, non-user-friendly website that desperately needed updating. It was a horror. We were embarrassed to give out our URL, and our webmaster was frustrated with the clunky platform that allowed absolutely no design creativity or flexibility whatsoever.</p></blockquote>

            <p><span class="bold">What technology solution did GiveCamp provide?</span></p>
            <blockquote><p>GiveCamp created a whole new website; a completely new and modern design on a versatile Wordpress platform.</p></blockquote>

            <p><span class="bold">How has your new website impacted the community and people that you serve?</span></p>
            <blockquote><p>People find it much easier to contact us, access valuable information about our center, and learn about mediation in general. It’s much easier to spread the word about our organization, so we reach more people than before.</p></blockquote>

            <p><span class="bold">In one sentence, describe what GiveCamp means to your organization.</span></p>
            <blockquote><p>We can’t express our appreciation enough… thank you, GiveCamp!!!</p></blockquote>

            <p>Victoria Mullen, Program Manager, <a href="http://drcwm.org/" rel="external" target="_blank">Dispute Resolution Center of West Michigan</a></p>
        <div class='clearDivider'></div>

        <h4>Dispute Resolution Center of West Michigan </h4>
        <blockquote>
          <p>Even though we have been in the business of disaster response for 130 years, the American Red Cross' Disaster Services Department doesn't have a standard inventory tracking system, despite the huge network of offices, warehouses and shelters maintained across the country.</p>

          <p>Inventory tracking and reporting has been a daunting challenge for the organization and represents a huge opportunity for time- and cost-savings to the organization and our donors. GR GiveCamp 2012 brought together some of the most creative and talented tech professionals and this group has laid the framework for a robust, flexible and mobile inventory database that is specifically tailored to the need of the Red Cross.</p>

          <p>During GiveCamp 2012, the inventory concepts were developed into a scaled database model for use and testing by the West Michigan Region of the American Red Cross. The inventory system is expected to be implemented in additional parts of the country over the next several months with additional features being planned now.</p>
        </blockquote>
        <p>Chip Kragt, <a href="http://www.redcross.org/mi/grand-rapids" rel="external">American Red Cross of West Michigan</a></p>
        <div class='clearDivider'></div>
 
        <h4>Camp Roger</h4>
        <blockquote>
          <p>Our website needed work badly and we didn't have the time, resources, or ability to do the work ourselves.  GiveCamp seemed like the perfect answer to our problems.</p>
          
          <p>We are very thankful for the opportunity to participate in GiveCamp.  It was so cool to see our hopes and dreams sketched out on a sheet of paper become a reality in 48 hours.  It was fantastic.</p>
        </blockquote>
        <p>Doug Vanderwell, <a href="http://camproger.org/">Camp Roger</a></p>
        <div class='clearDivider'></div>
 
        <h4>Catherine's Health Center</h4>
        <blockquote>
          <p>As a strong web presence becomes more and more important, it is such a gift to receive free services that our organization would not otherwise have had the resources to purchase.  Over the past two years, our online presence has become significantly more appealing and we are very indebted to GiveCamp.</p>
        </blockquote>
        <p> Lyndi Weener-Kuiper, <a href="http://catherineshc.org/" rel="external">Catherine's Health Center</a></p>
        <div class='clearDivider'></div>

        <h4>First Day Shoe Fund</h4>
        <blockquote>
          <p>In the past, our online presence wasn't quite where we wanted it to be for future growth.  We don't have IT people.  We don't have a web team nor do we have the funds to hire one.  We function on a pretty small budget, which predominantly goes to providing our services. There's very little leftover for big (but needed) changes to increase and improve our online visibility. </p>
          <p>Despite these challenges, we did need a website update, and GiveCamp gave us the amazing opportunity and the incredible team to create what we needed.</p>
        </blockquote>
        <p> Jen Brown, <a href="http://www.firstdayshoefund.org/" rel="external">First Day Shoe Fund</a></p>
        <div class='clearDivider'></div>

        <h4>Friends of Grand Rapids Parks</h4>
        <blockquote>
          <p>The communication that came from GiveCamp organizers was top notch.  I always felt in the loop leading up to the event and the whole weekend flowed well.  </p>
          
          <p>And our GiveCamp volunteers were absolutely fantastic!  I cannot say enough good things about them!  They were fun and funny and incredibly smart and hard working.</p>
        </blockquote>
        <p> Heather Kaweck, <a href="http://www.friendsofgrparks.org/">Friends of Grand Rapids Parks</a></p>
        <div class='clearDivider'></div>
 
        <h4>Grand Rapids Creative Youth Center</h4>
        <blockquote>
          <p>We participated in GiveCamp because we really needed a way to track our student performance that we could then report back to funders.  The event was very well organized and I was impressed with how smoothly it went.  I am just so grateful that we were able to participate!  I can't wait to put or new database to use.</p>
        </blockquote>
        <p>Lorena Slager, <a href="http://www.creativeyouthcenter.org/" rel="external">Grand Rapids Creative Youth Center</a></p>
        <div class='clearDivider'></div>

        <h4>Land Conservancy of West Michigan</h4>
        <blockquote>
          <p>The free technology help that we received through GiveCamp is significant and has been very valuable to our organization.  We were matched with a team of dedicated and talented technology professionals who built us a new website which otherwise could have cost us thousands of dollars.  The new site is professional, dynamic, and user-friendly and it has improved our efforts in donor and volunteer relations and community engagement.</p>
        </blockquote>
        <p> Keri Amlotte, <a href="http://www.naturenearby.org/" rel="external">Land Conservancy of West Michigan</a></p>
        <div class='clearDivider'></div>

        <h4>Thrive: A Refugee Support Program</h4>
        <blockquote>
          <p>Thank you again for not only choosing Thrive to participate, but for putting on this event overall.  This is a huge benefit for many non-profits that wish to improve their services but do not have the budget or technology skills to complete the types of projects done at GiveCamp.  I was very impressed by the organization of the event and the dedication of all of the volunteers.</p>
        </blockquote>
        <p> Jessica Gladden, <a href="http://www.refugeesupportgr.com/" rel="external">Thrive: A Refugee Support Program</a></p>
        <div class='clearDivider'></div>
        

      </div><!-- .container-box-inner -->
    </div><!-- .container-box -->
    <div class="box-bottom bottom-full"></div>
  </div><!-- /.eight -->
  
  <div class="four columns">
    <%= partial "partials/non-profit-nav" %>
    <%= partial "partials/volunteer" %>
    <%#= partial "partials/non-profit-apply" %>
  </div><!-- .four -->

</div>
