<div class="container-box">
  <div class="container-box-inner">

    <h1 class="heading"><span>About</span></h1>
    <ul>
      <li><a href="/about.html">About GiveCamp</a></li>
      <li><a href="/venue.html">The Venue</a></li>
      <li><a href="/schedule.html">The Schedule</a></li>
    </ul>

  </div><!-- .container-box-inner -->
</div><!-- .container-box -->
<div class="box-bottom bottom-sidebar"></div>
