  <div id="sponsors" class="container container-twelve">
    <%#
    <h2 class="heading-bg-less center">Presented by:</h2>
    <div class="three columns">
      <a href="#"><img src="images/sponsor-1.png" alt="sponsor-1" /></a>
    </div><!-- .four -->
    <div class="three columns">
      <a href="#"><img src="images/sponsor-2.png" alt="sponsor-1" /></a>
    </div><!-- .four -->
    <div class="three columns">
      <a href="#"><img src="images/sponsor-3.png" alt="sponsor-1" /></a>
    </div><!-- .four -->
    <div class="three columns">
      <a href="#"><img src="images/sponsor-4.png" alt="sponsor-1" /></a>
    </div><!-- .four -->
    %>
  </div><!-- .container -->

  <div id="footer-wraper">
    <footer class="container container-twelve">
      <div class="four columns">
        <div class="widget-container">
          <h3><span>About GiveCamp</span></h3>
          <p>GiveCamp is a weekend-long event where technology professionals donate their time to provide solutions for non-profit organizations. <a href="/code-of-conduct.html">Code of Conduct</a></p>
          <span>&copy; 2014 <a href="http://grgivecamp.org">GR GiveCamp</a>.</span>
        </div><!-- .widget-container -->
      </div><!-- .four -->

      <div class="four columns">
        <div class="widget-container">
          <h3><span>When and Where?</span></h3>
          <p>November 7-9th, 2014</p>
          <p>OST<br />
          605 Seward NW Suite 101 <br>
          Grand Rapids, Michigan 49504</p>
        </div><!-- .widget-container -->
      </div><!-- .four -->

      <div class="four columns">
        <div class="widget-container">
          <h3><span>Follow Us</span></h3>
          <ul class='social'>
            <li class="twitter"><a href="https://twitter.com/grgivecamp">Twitter</a></li>
            <li class="facebook"><a href="https://www.facebook.com/GRGiveCamp">Facebook</a></li>
          </ul>
        </div><!-- .widget-container -->
      </div><!-- .four -->
    </footer><!-- .container -->
  </div><!-- #footer-wraper -->
