<div id="headWraper">
  <header class="container container-twelve">

    <div id="logo" class="five columns">
      <a href="/"><%= image_tag "logo.png", alt: 'GiveCamp: Grand Rapids, MI', height: '50' %></a>
      <a href="#" id="mobile-menu"><img src="/images/menu-mobile.png" alt="menu-mobile" width="38" height="25" /></a>
      <div id="mobileNav">
        <%= partial "partials/navigation" %>
      </div><!-- #mobileNav -->
    </div><!-- #logo -->

    <nav id="mainNav" class="seven columns">
      <%= partial "partials/navigation" %>
    </nav><!-- .mainNav -->

  </header>
</div><!-- #headWraper -->
