<div class="container-box">
  <div class="container-box-inner">
    <h1 class="heading"><span>Non-Profits</span></h1>
    <ul>
      <li><a href="/non-profits.html">Have a Project?</a></li>
      <li><a href="/non-profits/testimonials.html">Select Testimonials</a></li>
      <li><a href="/non-profits/guide.html">Guide to GiveCamp</a></li>
      <%#<li><a href="/non-profits/apply.html">Apply to GiveCamp</a></li>%>
    </ul>
  </div><!-- .container-box-inner -->
</div><!-- .container-box -->
<div class="box-bottom bottom-sidebar"></div>
