<div class="container-box">
  <div class="container-box-inner">

    <h1 class="heading">Non-Profit?</h1>
    <p>Does your non-profit need a new website? Time to escape those Excel spreadsheets and get a real donor database? Trying to figure out how to build your social media presence? </p>

    <p><a href="non-profits.html">Learn More &rarr;</a></p>

  </div><!-- .container-box-inner -->
</div>
<div class="box-bottom bottom-sidebar"></div>

