<div id="sponsors" class="container container-twelve">
  <h2 class="heading-bg-less center">Sponsored in part by:</h2>
  <div class="four columns">
    <a href="http://bluesphereinc.com/" rel="external" target="_blank"><%= image_tag "assets/sponsors/bluesphere.png", :width => 250, :alt => "Blue Sphere Solutions" %></a>
  </div><!-- .four -->
  <div class="four columns">
    <a href="http://www.cqlcorp.com/" rel="external" target="_blank"><%= image_tag "assets/sponsors/cqlcorp.png", :height => 100, :alt => "CQL" %></a>
  </div><!-- .four -->
  <div class="four columns">
    <a href="http://ostusa.com" rel="external" target="_blank"><%= image_tag "assets/sponsors/ost.png", :height => 100, :alt => "OST" %></a>
  </div><!-- .four -->
</div>
