<div id="sponsors" class="container container-twelve">
  <h2 class="heading-bg-less center">Sponsored in part by:</h2>
  <div class="three columns">
    <a href="http://c2experience.com/" rel="external" target="_blank"><%= image_tag "assets/sponsors/c2.png", :alt => "C2 Group" %></a>
  </div><!-- .four -->
  <div class="three columns">
    <a href="http://www.meijer.com/" rel="external" target="_blank"><%= image_tag "assets/sponsors/meijer.png", :alt => "Meijer" %></a>
  </div><!-- .four -->
  <div class="three columns">
    <a href="http://www.cqlcorp.com/" rel="external" target="_blank"><%= image_tag "assets/sponsors/cqlcorp.png", :alt => "CQL" %></a>
  </div><!-- .four -->
  <div class="three columns">
    <a href="http://ostusa.com" rel="external" target="_blank"><%= image_tag "assets/sponsors/ost.png", :alt => "OST" %></a>
  </div><!-- .four -->
</div>
