<div class="four columns omega">
  <div class="container-box">
    <div class="container-box-inner">
      <p>GiveCamp is a weekend-long event where technology professionals donate their time to provide solutions for non-profit organizations.</p>
      <p class="register" style="padding: 1em 0 0;"><a href="volunteers.html">Register Now</a></p>
    </div>
  </div>
  <div class="box-bottom bottom-sidebar"></div>
</div><!-- .four -->
