    <div class="container-box">
      <div class="container-box-inner">
        <h1 class="heading">Register Now!</h1>
        <p>We’re looking for a variety of volunteers! No matter your skill-set, we work hard to match you up with other volunteers to ensure teams optimized for the greatest giving!</p>
        <p class="register"><a href="register-volunteers.html">Register Now!</a></p>
      </div><!-- .container-box-inner -->
    </div>
    <div class="box-bottom bottom-sidebar"></div>
