<div id="page" class="container container-twelve clearfix">
  <style>
    /* Venue */
    .container-box.venue {
      background: url('images/assets/factory-large.jpg') #fff top right no-repeat !important;
    }
  </style>
	
  <div class="eight columns">
    <div class="container-box venue">
      <div class="container-box-inner">

        <div class="two_thirds">
          <h1>The Factory</h1>
          <p>The Factory is a coworking (not co-working) space in downtown Grand Rapids designed for collaboration. In the process of coming to get work done, independent workers, small teams and corporate groups often stumble into unexpected conversations with one another. Serendipity, packaged in a trendy space with comfy chairs.</p>
          <div>
            <strong>Phone:</strong> 616.379.9377<br />
            <strong>Email:</strong> hello[AT]workthefactory.com<br />
          </div>
        </div><!-- .one_half -->
        <div class="dotDivider"></div>
        <h2>Directions</h2>
        <strong>By Car</strong>
        <p>At the corner of Commerce and Fulton, downtown Grand Rapids, The Factory is on the fourth floor above San Chez Bistro.</p>
        <address><strong>38 West Fulton Suite 400 Grand Rapids MI 49503</strong></address>

        <div class="clearDivider"></div>

          <iframe width="575" height="525" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=The+Factory+Grand+Rapids+MI+49503&amp;aq=&amp;sll=42.963199,-85.668967&amp;sspn=0.004664,0.004812&amp;ie=UTF8&amp;hq=The+Factory&amp;hnear=Grand+Rapids,+Michigan+49503&amp;t=m&amp;ll=42.963144,-85.669541&amp;spn=0.007066,0.011759&amp;z=15&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=The+Factory+Grand+Rapids+MI+49503&amp;aq=&amp;sll=42.963199,-85.668967&amp;sspn=0.004664,0.004812&amp;ie=UTF8&amp;hq=The+Factory&amp;hnear=Grand+Rapids,+Michigan+49503&amp;t=m&amp;ll=42.963144,-85.669541&amp;spn=0.007066,0.011759&amp;z=15&amp;iwloc=A">View Larger Map</a></small>

      </div><!-- .container-box-inner -->
    </div><!-- .container-box -->
    <div class="box-bottom bottom-full"></div>
  </div><!-- .eight -->

  <div class="four columns last">
    <%= partial "partials/about-nav" %>
    <%= partial "partials/volunteer" %>
    <%#= partial "partials/non-profits" %>
  </div>

</div><!-- container -->
