<div id="page" class="container container-twelve clearfix">

  <div class="eight columns">
    <div class="container-box">
      <div class="container-box-inner">

        <h1 class="heading"><span>About GiveCamp</span></h1>
        
        <p>GiveCamp is a weekend-long event where technology professionals – from designers, developers and database administrators to marketers and web strategists – donate their time to provide solutions for non-profit organizations.</p>

        <h2>Non-Profits</h2>
        <p>Some organizations may need a new website or a renewal of an old one. For others, GiveCamp helps them make the leap from Excel spreadsheets to true donor databases. And for still others, this is an opportunity to think strategically, with the help of a consultant, about their social media presence or e-mail marketing. This is about matching the needs of non-profits with the talent of our local technology-loving community.</p>

        <p>Any 501(3) can apply to participate in GiveCamp. Accepted non-profits will be matched with a project liaison prior to GiveCamp who will help them shape their project and answer any critical questions to ensure the weekend is a success.</p>
        
        <div class="clearDivider"></div>

        <h2>Volunteers</h2>
        <%= image_tag "assets/givecamp-volunteers.jpg", :class => "center" %>
        <p>For volunteers, GiveCamp provides a unique opportunity to connect with the local tech community. A typical GiveCamp draws 75 to 100 volunteers. Individuals can work with their colleagues in company teams, or they can opt to be matched with fellow volunteers who have complementary skill sets.</p>
        
        <p>Everyone is welcome to head home for the evenings – but there are always the diehards who work from Friday kickoff straight through Sunday afternoon. Food and drinks, especially of the caffeinated variety, are provided, along with game systems for breaks.</p>

        <p>Would you like to be part of this experience? Applications are open for non-profits, volunteers, and we’re still looking for sponsors! We hope you'll join us.</p>

      </div><!-- .container-box-inner -->
    </div><!-- .container-box -->
    <div class="box-bottom bottom-full"></div>
  </div><!-- .eight -->

  <div class="four columns omega">
    <div class="container-box">
      <div class="container-box-inner">

        <h1 class="heading"><span>About</span></h1>
        <ul>
          <li><a href="venue.html">Venue</a></li>
          <li><a href="schedule.html">Schedule</a></li>
        </ul>

      </div><!-- .container-box-inner -->
    </div><!-- .container-box -->
    <div class="box-bottom bottom-sidebar"></div>
  </div><!-- .four -->

  <%= partial "partials/volunteer" %>

</div><!-- container -->
