<div id="page" class="container container-twelve clearfix">
  <div class="twelve columns">
    <div class="container-box">
      <div class="container-box-inner">

        <h1 class="heading"><span>Columns</span></h1>

        <div class="one_half">
          <h2>One Half</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi imperdiet tortor id ligula vulputate volutpat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Curabitur tempor vehicula porta. Phasellus magna arcu, commodo non porta vulputate, mattis eget lacus. Nulla eget leo ipsum. Suspendisse semper consequat nisi, vitae tristique neque euismod a. Aenean fringilla porttitor massa eu tincidunt. </p>
        </div>
        <div class="one_half last">
          <h2>One Half</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi imperdiet tortor id ligula vulputate volutpat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Curabitur tempor vehicula porta. Phasellus magna arcu, commodo non porta vulputate, mattis eget lacus. Nulla eget leo ipsum. Suspendisse semper consequat nisi, vitae tristique neque euismod a. Aenean fringilla porttitor massa eu tincidunt. </p>
        </div>

        <div class="clearDivider"></div>

        <div class="one_third">
          <h2>One Third</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi imperdiet tortor id ligula vulputate volutpat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Curabitur tempor vehicula porta. Phasellus magna arcu, commodo non porta vulputate, mattis eget lacus. Nulla eget leo ipsum. Suspendisse semper consequat nisi, vitae tristique neque euismod a. Aenean fringilla porttitor massa eu tincidunt.</p>
        </div>
        <div class="one_third">
          <h2>One Third</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi imperdiet tortor id ligula vulputate volutpat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Curabitur tempor vehicula porta. Phasellus magna arcu, commodo non porta vulputate, mattis eget lacus. Nulla eget leo ipsum. Suspendisse semper consequat nisi, vitae tristique neque euismod a. Aenean fringilla porttitor massa eu tincidunt.</p>
        </div>
        <div class="one_third last">
          <h2>One Third</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi imperdiet tortor id ligula vulputate volutpat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Curabitur tempor vehicula porta. Phasellus magna arcu, commodo non porta vulputate, mattis eget lacus. Nulla eget leo ipsum. Suspendisse semper consequat nisi, vitae tristique neque euismod a. Aenean fringilla porttitor massa eu tincidunt.</p>
        </div>

        <div class="clearDivider"></div>

        <div class="one_third">
          <h2>One Third</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi imperdiet tortor id ligula vulputate volutpat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
        </div>  
        <div class="two_third last">
          <h2>Two Third</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi imperdiet tortor id ligula vulputate volutpat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Curabitur tempor vehicula porta. Phasellus magna arcu, commodo non porta vulputate, mattis eget lacus. Nulla eget leo ipsum. Suspendisse semper consequat nisi, vitae tristique neque euismod a. Aenean fringilla porttitor massa eu tincidunt.</p>
        </div>

        <div class="clearDivider"></div>

        <div class="one_fourth">
          <h2>One Fourth</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi imperdiet tortor id ligula vulputate volutpat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Curabitur tempor vehicula porta.</p>
        </div>
        <div class="one_fourth">
          <h2>One Fourth</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi imperdiet tortor id ligula vulputate volutpat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Curabitur tempor vehicula porta.</p>
        </div>
        <div class="one_fourth">
          <h2>One Fourth</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi imperdiet tortor id ligula vulputate volutpat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Curabitur tempor vehicula porta.</p>
        </div>
        <div class="one_fourth last">
          <h2>One Fourth</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi imperdiet tortor id ligula vulputate volutpat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Curabitur tempor vehicula porta.</p>
        </div>

        <div class="clearDivider"></div>

        <div class="one_fourth">
          <h2>One Fourth</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi imperdiet tortor id ligula vulputate volutpat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
        </div>
        <div class="one_fourth">
          <h2>One Fourth</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi imperdiet tortor id ligula vulputate volutpat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
        </div>
        <div class="one_half last">
          <h2>One Half</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi imperdiet tortor id ligula vulputate volutpat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Curabitur tempor vehicula porta. Phasellus magna arcu, commodo non porta vulputate, mattis eget lacus. Nulla eget leo ipsum. Suspendisse semper consequat nisi, vitae tristique neque euismod a. Aenean fringilla porttitor massa eu tincidunt.</p>
        </div>

        <div class="clearDivider"></div>

        <div class="one_fourth">
          <h2>One Fourth</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi imperdiet tortor id ligula vulputate volutpat. Pellentesque habitant morbi tristique.</p>
        </div>
        <div class="three_fourth last">
          <h2>Three Fourth</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi imperdiet tortor id ligula vulputate volutpat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Curabitur tempor vehicula porta. Phasellus magna arcu, commodo non porta vulputate, mattis eget lacus. Nulla eget leo ipsum. Suspendisse semper consequat nisi, vitae tristique neque euismod a. Aenean fringilla porttitor massa eu tincidunt.</p>
        </div>

      </div><!-- .container-box-inner -->
    </div><!-- .container-box -->
    <div class="box-bottom bottom-full"></div>
  </div><!-- .eight -->
</div><!-- container -->
