<div id="sliderWraper">
  <div id="featuredSlider" class="flexslider">
    <ul class="slides">
      <li>
      <%= image_tag "gr-skyline-1.jpg", :width => "1600", :height => "1200", :alt => "Grand Rapids Skyline" %>
      <div class="featured-wraper container container-twelve">
        <div class="featured-content seven columns">
          <h1 class="featured-title">GR GiveCamp 2013</h1>
          <div class="featured-entry">
            <p>GiveCamp exists as a way to channel the raw energy and passion for development towards something that will benefit local communities.</p>
          </div><!-- .featured-entry-->
        </div><!-- .featured-content -->
      </div><!-- .featured-wraper -->
      </li>
    </ul>
  </div>
</div><!-- #sliderWraper -->

<div id="twitterWraper">
  <div class="container container-twelve">
    <div id="tweet" class="nine columns">
    </div><!-- .nine -->
    <div id="topSocial" class="three columns">
      <ul>
        <li class="topTwitter"><a href="https://twitter.com/grgivecamp">Twitter</a></li>
        <li class="topFacebook"><a href="https://www.facebook.com/GRGiveCamp">Facebook</a></li>
      </ul>
    </div><!-- three -->
  </div><!-- .container -->
</div><!-- #twitterWraper -->

<div class="container container-twelve">
  <div id="counter-container" class="twelve columns container-box">
    <div class="six columns alpha">
      <div class="container-box-inner em-large">
        <p>This year's GiveCamp is November 8-10th at The Factory, Grand Rapids.</p>
      </div>
    </div>
    <div class="six columns omega">
      <div class="container-box-inner">
        <div class="counter">
        </div><!-- #counter -->
        <div class="buy-tickets">
          <a href="#">Register Now</a>
        </div>
      </div>
    </div>
  </div><!-- .twelve -->
  <div class="clear"></div>
  <div class="box-bottom bottom-full"></div>		

  <div class="eight columns">
    <div class="container-box">
      <div class="container-box-inner">
        <h2 class="heading"><span>What is GiveCamp all about?</span></h2>
        <ul class="check">
          <li>Does your non-profit need a new website? </li>
          <li>Time to escape those Excel spreadsheets and get a real donor database?</li>
          <li>Trying to figure out how to build your social media presence?</li>
        </ul>
        <p>GiveCamp is a weekend-long event where software developers, designers, and database administrators donate their time to create custom software for non-profit organizations. </p>
      </div><!-- .container-box-inner -->
    </div><!-- .container-box -->
    <div class="box-bottom bottom-main"></div>
  </div><!-- .eight -->

  <div class="four columns">
    <div class="container-box">
      <div class="container-box-inner">
        <h2 class="heading"><span>News</span></h2>
        <ul class="calendar">
          <li>
          <a href="#">Lorem ipsum dolor sit amet, 
            consectetur adipiscing elit.</a>
          <br />
          <span class="small">June 18th</span>
          </li>
          <li>
          <a href="#">Vonsectetur adipiscing elit</a>
          <br />
          <span class="small">June 13th</span>
          </li>
          <li>
          <a href="#">Dolor sit amet, consectetur adip</a>
          <span class="small">May 27th</span>
          </li>
        </ul>
      </div><!-- .container-box-inner -->
    </div><!-- .container-box -->
    <div class="box-bottom bottom-sidebar"></div>
  </div><!-- .four -->

  <div class="twelve columns">
    <div class="container-box">
      <div class="container-box-inner">
        <h2 class="heading"><span>Madison Square Garden</span></h2>
        <img src="images/placeholders/msg.jpg" alt="msg" width="278" height="210" class="left" />
        <div class="em-large">
          <p>Madison Square Garden is the longest active major sporting facility in the New York metropolitan area, and is the fourth incarnation of the arena in the city.</p>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi imperdiet tortor id ligula vulputate volutpat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Curabitur tempor vehicula porta. Phasellus magna arcu, commodo non porta vulputate, mattis eget lacus. Nulla eget leo ipsum.<a href="venue.html">( Read More &rarr; )</a></p>
      </div>
    </div><!-- .container-box -->
    <div class="box-bottom bottom-full"></div>
  </div><!-- .twelve -->
</div><!-- container -->
