<div id="page" class="container container-twelve clearfix">
  <div role="main" class="eight columns">
    <div class="container-box">
      <div class="container-box-inner">

        <h1 class="heading"><span>News</span></h1>

        <article id="blogPost">
          <div class="post-meta">
            <a href="single.html" class="post-format standard"></a>
            <h6>Posted:</h6>
            <span>Oct 30, 2012</span>
            <h6>Tags:</h6>
            <span>Standard</span>
            <h6>Comments:</h6>
            <span><a href="single.html#comments">5</a></span>
          </div><!-- .post-date-comments -->
          <div class="post-entry">
            <h1><a href="single.html">Pellentesque sodales magna</a></h1>
            <div class="post-thumbnail">
              <img src="images/placeholders/city.jpg" alt="City Lights" width="100%" height="180" />
            </div><!-- .post-thumbnail -->
            <p>Vestibulum at nisl nulla. Duis interdum bibendum dui, ac consequat sem adipiscing vitae. Integer tincidunt tempor facilisis. Nam et turpis dictum magna fringilla pharetra non in lectus. Nunc facilisis lacus vel nisl lacinia blandit. Vestibulum pellentesque mass ...<a href="single.html">( Read More &rarr; )</a></p>
          </div><!-- .post-entry -->
          <div class="lineDivider"></div>
        </article><!-- #bogPost -->

        <article id="blogPost">
          <div class="post-meta">
            <a href="single.html" class="post-format link"></a>
            <h6>Posted:</h6>
            <span>Oct 30, 2012</span>
            <h6>Tags:</h6>
            <span>Link</span>
            <h6>Comments:</h6>
            <span><a href="single.html#comments">14</a></span>
          </div><!-- .post-date-comments -->
          <div class="post-entry">
            <h1><a href="single.html">Pellentesque sodales magna</a></h1>
            <div class="post-thumbnail">
              <img src="images/placeholders/city-full3.jpg" alt="City Lights" width="100%" height="180" />
            </div><!-- .post-thumbnail -->
            <p>Vestibulum at nisl nulla. Duis interdum bibendum dui, ac consequat sem adipiscing vitae. Integer tincidunt tempor facilisis. Nam et turpis dictum magna fringilla pharetra non in lectus. Nunc facilisis lacus vel nisl lacinia blandit. Vestibulum pellentesque mass ...<a href="single.html">( Read More &rarr; )</a></p>
          </div><!-- .post-entry -->
          <div class="lineDivider"></div>
        </article><!-- #bogPost -->

        <article id="blogPost">
          <div class="post-meta">
            <a href="single.html" class="post-format gallery"></a>
            <h6>Posted:</h6>
            <span>Oct 30, 2012</span>
            <h6>Tags:</h6>
            <span>Image</span>
            <h6>Comments:</h6>
            <span><a href="single.html#comments">24</a></span>
          </div><!-- .post-date-comments -->
          <div class="post-entry">
            <h1><a href="single.html">Pellentesque sodales magna</a></h1>
            <div class="post-thumbnail">
              <img src="images/placeholders/city-full1.jpg" alt="City Lights" width="100%" height="180" />
            </div><!-- .post-thumbnail -->
            <p>Vestibulum at nisl nulla. Duis interdum bibendum dui, ac consequat sem adipiscing vitae. Integer tincidunt tempor facilisis. Nam et turpis dictum magna fringilla pharetra non in lectus. Nunc facilisis lacus vel nisl lacinia blandit. Vestibulum pellentesque mass ...<a href="single.html">( Read More &rarr; )</a></p>
          </div><!-- .post-entry -->
          <div class="lineDivider"></div>
        </article><!-- #bogPost -->

        <div id="pagination">
          <ul>
            <li><a href="#">1</a></li>
            <li class="current"><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
          </ul>
          <div id="next-prev">
            <a href="#">&larr; Previous</a>
            <a href="#">Next &rarr;</a>
          </div><!-- #next-prev -->
        </div><!-- #pagination -->

      </div><!-- .container-box-inner -->
    </div><!-- .container-box -->
    <div class="box-bottom bottom-main"></div>
  </div><!-- .eight -->

  <aside id="sidebar" role="sidebar" class="four columns">
    <div class="container-box">
      <div class="container-box-inner">

        <div class="widget-container">
          <h3 class="heading"><span>Members Login</span></h3>
          <label for="username">Username</label>
          <input type="text" name="username" id="username" placeholder="Username" />
          <label for="password">Password</label>
          <input type="text" name="password" id="password" placeholder="Password" />
          <input type="button" name="submit" id="submit" value="Login" />
          <br />
          <a href="#">Lost Password?</a> | <a href="#">Register</a>
          <div class="lineDivider"></div>
        </div><!-- .widget-container -->

        <div class="widget-container side-twitter"">
          <h3 class="heading"><span>Latest Tweets</span></h3>
          <div id="tweetSide">
          </div><!-- #tweetSide -->
          <div class="lineDivider"></div>
        </div><!-- .widget-container -->

        <div class="widget-container">
          <h3 class="heading"><span>Latest Events</span></h3>
          <ul class="calendar">
            <li>
            <a href="#">Lorem ipsum dolor sit amet, 
              consectetur adipiscing elit.</a>
            <br />
            <span class="small">June 18th</span>
            </li>
            <li>
            <a href="#">Vonsectetur adipiscing elit</a>
            <br />
            <span class="small">June 13th</span>
            </li>
            <li>
            <a href="#">Dolor sit amet, consectetur adip</a>
            <span class="small">May 27th</span>
            </li>
          </ul>
          <div class="lineDivider"></div>
        </div><!-- .widget-container -->

        <div class="widget-container side-newsletter">
          <h3 class="heading"><span>Join Our Newsletter</span></h3>
          <p>Fusce cursus aliquam aliquet. Sed pretium auctor nunc elandit estibulum</p>
          <input type="text" name="email" id="email" placeholder="Your Email" />
          <input type="button" name="submit" id="submit" value="Submit" />
        </div><!-- .widget-container -->

      </div><!-- .container-box-inner -->
    </div><!-- .container-box -->
    <div class="box-bottom bottom-sidebar"></div>
  </aside><!-- .four -->
</div><!-- container -->
