<div id="page" class="container container-twelve clearfix">

  <div class="eight columns">
    <div class="container-box">
      <div class="container-box-inner">

        <h1 class="heading"><span>Have a Project?</span></h1>
        <p><span class='dropcap'>D</span>oes your non-profit need a new website? Time to escape those Excel spreadsheets and get a real donor database? Trying to figure out how to build your social media presence? GiveCamp is for you.</p>

        <p>Join us for a weekend-long event that brings together nearly 100 technology professionals committed to providing your organization with solutions, strategies, and tools that can help you continue your good work… hopefully even more effectively or efficiently.</p>

        <p><%= image_tag "assets/2012-group-shot.jpg", :class => 'center' %></p>

        <p>From designers, web developers and database administrators to marketers and web strategists, GiveCamp assembles a team of experienced professionals – all you need to do is apply, tell us about your desired project, and if your non-profit is selected, we’ll work with you to shape it into a project that can be successfully completed during GiveCamp.</p>

        <p>GiveCamp will be happening November 8-10. Don’t miss this opportunity to check a project off your technology wish list.</p>

        <p><strong>Need to talk to someone? email <a href="mailto:apply@grgivecamp.org">apply@grgivecamp.org</a></strong></p>

        <hr />

        <h3>Ready to Begin?</h3>
        <p>Your project needs to meet the minimum criteria, and we need some information about your organization to best pair your project with our team of volunteers.</p>
        <p class="register"><a href="/non-profits/apply.html">Appy Now!</a></p>
        <p class='center'><em>We will be accepting applications until September 1st.</em></p>

      </div><!-- .container-box-inner -->
    </div><!-- .container-box -->
    <div class="box-bottom bottom-full"></div>
  </div><!-- .eight -->

  <div class="four columns">
    <%= partial "partials/non-profit-nav" %>
    <div class='column'>
      <div class='container-box-inner'>
        <blockquote>
          <p>... our online presence has become significantly more appealing and we are very indebted to GiveCamp.</p>
          <small>Lyndi Weener-Kuiper, <a href="http://catherineshc.org/" rel="external">Catherine's Health Center</a></small>
        </blockquote>
        <p>&rarr; <a href="/non-profits/testimonials.html">Read more testimonials!</a></p>
      </div>
    </div>
  </div><!-- .four -->

</div><!-- container -->
