<div id="page" class="container container-twelve clearfix">

  <div class="eight columns">
    <div class="container-box">
      <div class="container-box-inner">
          <h1 class="heading"><span>Selected Non-Profits</span></h1>
          <p><span class="dropcap">T</span>his year's projects are just as wonderful as ever. Here's just a little bit about each one.</p>

          <h3>Carols Ferals</h3>
          <p>Carol needs a database to manage various aspects of the organization including equipment, donors and cat health records.</p>

          <h3>Center for Dispute Resolution, (DBA: Mediation Services)</h3>
          <p>Needs a website build on a CMS. In addition, they would like to further their social media presence.</p>

          <h3>Downtown Grand Rapids Inc</h3>
          <p>DGRI would like to build a text-messaging polling application for the purposes of gathering the opinions of citizens regarding an array of GR city related decisions.</p>

          <h3>Girl Scouts of Michigan Shore to Shore</h3>
          <p>They need to revamp their website to provide a better UX. Their current site is not responsive nor it is easy to update or maintain. Consider using Adobe Business Catalyst if feasible.</p>

          <h3>Grand Rapids Student Advancement Foundation</h3> 
          <p>GRSAF would like a new website that is user-friendly for both visitors and administrators and aligns with the organization's mission, vision, brand, and objectives.</p>

          <h3>Health Net of West Michigan</h3>  
          <p>HNWM is a new organization that needs a website that reflects the innovative and creative nature of their work.  It should serve as a resource hub for visitors and be integrated with social media.</p>

          <h3>Kent County Parks Foundation</h3>
          <p>KCPF wants to launch an cohesive social media campaign called "Parks Matter!" to increase brand awareness and donor & general public engagement.</p>

          <h3>MomsBloom, Inc</h3>
          <p>Mom's Bloom needs a website revamp. They have outgrown their current site and now need to add additional pages and embed new online forms.</p>

          <h3>On My Own</h3> 
          <p>On My Own needs a good website. One that markets their program well and truly demonstrates their passion for their mission.</p>

          <h3>Otsego County Commission on Aging</h3>
          <p>They need a web based scheduling tool that allows staff to be scheduled into homes.</p>

          <h3>Software GR</h3>
          <p>Create a marketing site for BitCamp, a free day-long opportunity for 7th and 8th girls to learn what it's like to be a software developer.</p>

          <h3>SPCA of SW Michigan</h3>
          <p>SPCA of SW Michigan would like to expand and add some features to their current CRM developed at a previous GiveCamp event.</p> 

          <h3>Steepletown Neighborhood Services</h3>
          <p>By creating a new website, Steepletown hopes to greatly improve their online visibility and ultimately generate awareness about the services that they provide.</p>

          <h3>The LGBT Network of West Michigan</h3>
          <p>They need to digitize and automate several registration forms/process for their organization and the fees associated with them when applicable. They also need to provide better digital access to our monthly newsletter.</p>

          <h3>Thrive: A Refugee Support Program</h3>
          <p>Thrive would like to expand on their previous GiveCamp-created website. They hope to be able to make some necessary updates to the website and also add new content sections and integrate new forms for volunteers and newsletter sign-ups.</p>
<!--
   -        <h1 class="heading"><span>Have a Project?</span></h1>
   -        <p><span class='dropcap'>D</span>oes your non-profit need a new website? Time to escape those Excel spreadsheets and get a real donor database? Trying to figure out how to build your social media presence? GiveCamp is for you.</p>
   -
   -        <p>Join us for a weekend-long event that brings together nearly 100 technology professionals committed to providing your organization with solutions, strategies, and tools that can help you continue your good work… hopefully even more effectively or efficiently.</p>
   -
   -        <p><%= image_tag "assets/2012-group-shot.jpg", :class => 'center' %></p>
   -
   -        <p>From designers, web developers and database administrators to marketers and web strategists, GiveCamp assembles a team of experienced professionals – all you need to do is apply, tell us about your desired project, and if your non-profit is selected, we’ll work with you to shape it into a project that can be successfully completed during GiveCamp.</p>
   -
   -        <p>GiveCamp will be happening November 8-10. Don’t miss this opportunity to check a project off your technology wish list.</p>
   -
   -        <p><strong>Need to talk to someone? email <a href="mailto:apply@grgivecamp.org">apply@grgivecamp.org</a></strong></p>
   -
   -        <hr />
   -
   -        <h3>Ready to Begin?</h3>
   -        <p>Your project needs to meet the minimum criteria, and we need some information about your organization to best pair your project with our team of volunteers.</p>
   -        <p class="register"><a href="/non-profits/apply.html">Appy Now!</a></p>
   -        <p class='center'><em>We will be accepting applications until October 1st.</em></p>
   -->

      </div><!-- .container-box-inner -->
    </div><!-- .container-box -->
    <div class="box-bottom bottom-full"></div>
  </div><!-- .eight -->

  <div class="four columns">
    <%= partial "partials/non-profit-nav" %>
    <div class='column'>
      <div class='container-box-inner'>
        <blockquote>
          <p>... our online presence has become significantly more appealing and we are very indebted to GiveCamp.</p>
          <small>Lyndi Weener-Kuiper, <a href="http://catherineshc.org/" rel="external">Catherine's Health Center</a></small>
        </blockquote>
        <p>&rarr; <a href="/non-profits/testimonials.html">Read more testimonials!</a></p>
      </div>
    </div>
  </div><!-- .four -->

</div><!-- container -->
