<div id="page" class="container container-twelve clearfix">

  <div class="eight columns">
    <div class="container-box">
      <div class="container-box-inner">

        <h1 class="heading"><span>Non-profits</span></h1>
        <p><span class='dropcap'>D</span>oes your non-profit need a new website? Time to escape those Excel spreadsheets and get a real donor database? Trying to figure out how to build your social media presence? GiveCamp is for you.</p>

        <p>Join us for a weekend-long event that brings together nearly 100 technology professionals committed to providing your organization with solutions, strategies, and tools that can help you continue your good work… hopefully even more effectively or efficiently.</p>

        <%= image_tag "assets/2012-group-shot.jpg", :class => 'center' %>

        <p>From designers, web developers and database administrators to marketers and web strategists, GiveCamp assembles a team of experienced professionals – all you need to do is apply, tell us about your desired project, and if your non-profit is selected, we’ll work with you to shape it into a project that can be successfully completed during GiveCamp.</p>
        
        <p>GiveCamp will be happening November 8-10. Don’t miss this opportunity to check a project off your technology wish list.</p>

      </div><!-- .container-box-inner -->
    </div><!-- .container-box -->
    <div class="box-bottom bottom-full"></div>
  </div><!-- .eight -->

  <div class="four columns">
    <div class="container-box">
      <div class="container-box-inner">
        <h1 class='heading'>Apply Now!</h1>
        <p>Your project needs to meet the minimum criteria, and we need some information about your organization to best pair your project with our team of volunteers.</p>
        <p class='register'><a href="register-non-profits.html" >Appy Now!</a></p>
        <p><em>We will be accepting applications until October 1st.</em></p>
      </div><!-- .container-box-inner -->
    </div><!-- .container-box -->
    <div class="box-bottom bottom-full"></div>
  </div><!-- .four -->

</div><!-- container -->
