<div id="page" class="container container-twelve clearfix">
  <div id="counter-container" class="twelve columns container-box">
    <div class="seven columns alpha">
      <div class="container-box-inner em-large">
        <p>7 Workshops  more than 40 sessions over 3 
        days at the Madison Square Garden, NY</p>
      </div>
    </div>
    <div class="five columns omega">
      <div class="container-box-inner">
        <div class="counter">
        </div><!-- #counter -->
        <div class="buy-tickets">
          <a href="#">Buy Tickets Now</a>
        </div>
      </div>
    </div>
  </div><!-- .twelve -->
  <div class="clear"></div>
  <div class="box-bottom bottom-full"></div>

  <div class="twelve columns">
    <div class="container-box">
      <div class="container-box-inner">
        <h1 class="heading"><span>Our Partners</span></h1>
        <div class="em-medium">
          <p>Become part of the show! Download the partner info-sheet <a href="#">here</a> and/or contact John Do for further info</p>
        </div>
        <div class="lineDivider"></div>
        <h2 class="center">Sponsors</h2>
        <img src="images/sponsor-1.png" alt="sponsor" width="250" class="left" />
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi imperdiet tortor id ligula vulputate volutpat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Curabitur tempor vehicula porta. Phasellus magna arcu, commodo non porta vulputate.</p>
        <div class="clearDivider"></div>
        <img src="images/sponsor-2.png" alt="sponsor" width="250" class="left" />
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi imperdiet tortor id ligula vulputate volutpat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Curabitur tempor vehicula porta. Phasellus magna arcu, commodo non porta vulputate.</p>
        <div class="clearDivider"></div>
        <h2 class="center">Stage &amp; Media Partners</h2>
        <img src="images/sponsor-3.png" alt="sponsor" width="250" class="left" />
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi imperdiet tortor id ligula vulputate volutpat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Curabitur tempor vehicula porta. Phasellus magna arcu, commodo non porta vulputate.</p>
        <div class="clearDivider"></div>
        <img src="images/sponsor-4.png" alt="sponsor" width="250" class="left" />
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi imperdiet tortor id ligula vulputate volutpat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Curabitur tempor vehicula porta. Phasellus magna arcu, commodo non porta vulputate.</p>
        <div class="clearDivider"></div>
        <div class="dotDivider"></div>
        <div id="eventRep">
          <img src="images/placeholders/speaker1.jpg" class="left" alt="speaker1" width="150" height="150" />
          <h3>John Do</h3>
          <p class="one_half">If you have any questions regarding partnerships or would just like to discuss the possibilities in more detail, get in touch with me!</p>								
          <address class="one_fourth last">
            <strong>Phone:</strong> (546) 555 5555<br />
            <strong>Fax:</strong> (567) 555 5555<br />
            <strong>Email:</strong> email@domain.com<br />
          </address>
        </div>
      </div><!-- .container-box-inner -->
    </div><!-- .container-box -->
    <div class="box-bottom bottom-full"></div>
  </div><!-- .twelve -->
</div><!-- container -->
