<div id="page" class="container container-twelve clearfix">

  <div class="eight columns">
    <div class="container-box">
      <div class="container-box-inner">

        <h1 class="heading"><span>Schedule</span></h1>

        <div class="event-wraper">
          <h3 class="event-date">Friday, November 8</h3>
          <h2 class="event-title">Day One</h2>
          <ul>
          <li>5:00 pm &ndash; Registration begins</li>
          <li>6:15 pm &ndash; Official kickoff and opening</li>
          <li>6:30 pm &ndash; Team orientation begins</li>
          <li>7:00 pm &ndash; Dinner served & work begins</li>
          <li>11:00 pm &ndash; Building locked</li>
          </ul>
          <p>Overnight &mdash; Some cots available on-site</p>
        </div><!-- .event-wraper -->

        <div class="event-wraper">
          <h3 class="event-date">Saturday, November 9</h3>
          <h2 class="event-title">Day Two</h2>
          <ul>
            <li>8:00 am &ndash; Building unlocked</li>
            <li>8:00 am &ndash; Continental breakfast laid out</li>
            <li>12:30 pm &ndash; Lunch</li>
            <li>6:00 pm &ndash; Dinner</li>
            <li>11:00 pm &ndash; Building locked</li>
          </ul>
          <p>Overnight &mdash; Some cots available on-site</p>
        </div><!-- .event-wraper -->

        <div class="event-wraper">
          <h3 class="event-date">Sunday, November 10</h3>
          <h2 class="event-title">Day Three</h2>
        	<ul>
            <li>8:00 am &ndash; Building unlocked</li>
            <li>8:30 am &ndash; Continental breakfast laid out</li>
            <li>12:30 pm &ndash; Lunch</li>
            <li>2:00 pm &ndash; Live demonstrations</li>
            <li>3:00 pm &ndash; GiveCamp ends & clean-up</li>
          </ul>
        </div><!-- .event-wraper -->

      </div><!-- .container-box-inner -->
    </div><!-- .container-box -->
    <div class="box-bottom bottom-full"></div>
  </div><!-- .eight -->
  
  <div class="four columns last">
    <%= partial "partials/about-nav" %>
    <%= partial "partials/volunteer" %>
    <%#= partial "partials/non-profits" %>
  </div>

</div><!-- container -->
