<div id="page" class="container container-twelve clearfix">
  <div id="counter-container" class="twelve columns container-box">
    <div class="seven columns alpha">
      <div class="container-box-inner em-large">
        <p>7 Workshops  more than 40 sessions over 3 
        days at the Madison Square Garden, NY</p>
      </div>
    </div>
    <div class="five columns omega">
      <div class="container-box-inner">
        <div class="counter">
        </div><!-- #counter -->
        <div class="buy-tickets">
          <a href="#">Buy Tickets Now</a>
        </div>
      </div>
    </div>
  </div><!-- .twelve -->
  <div class="clear"></div>
  <div class="box-bottom bottom-full"></div>

  <div class="twelve columns">
    <div class="container-box">
      <div class="container-box-inner">

        <h1 class="heading"><span>Schedule</span></h1>

        <div class="em-medium">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi imperdiet tortor id ligula vulputate.</p>
        </div>

        <div class="lineDivider"></div>

        <div class="event-wraper">
          <h3 class="event-date">WED, 9:00AM - 10:15AM</h3>
          <h2 class="event-title"><a href="#">Cracking Web Design</a></h2>
          <span class="small event-place"><a href="venue.html">Main Forum</a></span> <span class="small event-speaker"><a href="speakers.html">John Bom</a></span>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi imperdiet tortor id ligula vulputate volutpat. Pellentesque habitant morbi tristique senectus et netus et.</p>
          <div class="speaker-info">
            <img src="images/placeholders/speaker3.jpg" class="left" alt="speaker1" width="75" height="75" />
            <p><strong>Rebecca Diaz</strong> is a lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi imperdiet tortor id ligula vulputate volutpat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Curabitur tempor vehicula porta.</p>
          </div><!-- .speaker-info -->
        </div><!-- .event-wraper -->

        <div class="event-wraper">
          <h3 class="event-date">WED, 9:00AM - 10:15AM</h3>
          <h2 class="event-title"><a href="#">A Review On The History Of Web Design</a></h2>
          <span class="small event-place"><a href="venue.html">Main Forum</a></span> <span class="small event-speaker"><a href="speakers.html">John Bom</a></span>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi imperdiet tortor id ligula vulputate volutpat. Pellentesque habitant morbi tristique senectus et netus et.</p>
          <div class="speaker-info">
            <img src="images/placeholders/speaker4.jpg" class="left" alt="speaker1" width="75" height="75" />
            <p><strong>Juan Lienson</strong> is a lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi imperdiet tortor id ligula vulputate volutpat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Curabitur tempor vehicula porta.</p>
          </div><!-- .speaker-info -->
        </div><!-- .event-wraper -->

        <div class="event-wraper">
          <h3 class="event-date">WED, 9:00AM - 10:15AM</h3>
          <h2 class="event-title"><a href="#">Cracking Web Design</a></h2>
          <span class="small event-place"><a href="venue.html">Main Forum</a></span> <span class="small event-speaker"><a href="speakers.html">John Bom</a></span>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi imperdiet tortor id ligula vulputate volutpat. Pellentesque habitant morbi tristique senectus et netus et.</p>
          <div class="speaker-info">
            <img src="images/placeholders/speaker6.jpg" class="left" alt="speaker1" width="75" height="75" />
            <p><strong>Matt Skerlson</strong> is a lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi imperdiet tortor id ligula vulputate volutpat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Curabitur tempor vehicula porta.</p>
          </div><!-- .speaker-info -->
        </div><!-- .event-wraper -->

      </div><!-- .container-box-inner -->
    </div><!-- .container-box -->
    <div class="box-bottom bottom-full"></div>
  </div><!-- .twelve -->
</div><!-- container -->
