<div id="page" class="container container-twelve clearfix">
  <div role="main" class="eight columns">
    <div class="container-box">
      <div class="container-box-inner">

        <h1 class="heading"><span>News</span></h1>

        <article id="blogPost">
          <div class="post-meta">
            <a href="single.html" class="post-format standard"></a>
            <h6>Posted:</h6>
            <span>Oct 30, 2012</span>
            <h6>Tags:</h6>
            <span>Standard</span>
            <h6>Comments:</h6>
            <span><a href="single.html#comments">5</a></span>
          </div><!-- .post-date-comments -->
          <div class="post-entry">
            <h1><a href="single.html">Pellentesque sodales magna</a></h1>
            <div class="post-thumbnail">
              <img src="images/placeholders/city.jpg" alt="City Lights" width="100%" height="180" />
            </div><!-- .post-thumbnail -->
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi imperdiet tortor id ligula vulputate volutpat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Curabitur tempor vehicula porta. Phasellus magna arcu, commodo non porta vulputate, mattis eget lacus. Nulla eget leo ipsum. Suspendisse semper consequat nisi, vitae tristique neque euismod a. Aenean fringilla porttitor massa eu tincidunt.</p>

            <p>Ut molestie dictum volutpat. Nam volutpat fermentum vestibulum. Vivamus molestie fringilla nibh non fermentum.</p> 

            <blockquote>Pellentesque sodales magna et lectus euismod consequat in sed libero. In non mollis tortor. Sed libero augue, venenatis vitae lobortis vel, lobortis id dolor. Curabitur iaculis varius elit,</blockquote>

            <p>Accumsan malesuada urna vulputate eget. Etiam et velit et diam congue vestibulum. <a href="#">Phasellus</a> commodo iaculis enim, euismod vehicula dolor laoreet eu.</p>

            <h2>H2 Large Heading, Wow!</h2>

            <p>Nulla et ante tellus. Sed imperdiet ornare massa, pellentesque varius ipsum tempus ut. Aenean facilisis nisl id odio feugiat tristique. Fusce eget lorem dolor, a venenatis neque. Suspendisse in nibh aliquam justo accumsan fermentum. <a href="#">Aliquam id tincidunt diam</a>. Vivamus euismod dapibus arcu nec ullamcorper. Curabitur at sapien risus. Curabitur sodales placerat augue eget dignissim. Donec ut nulla tellus, at gravida elit. Donec fringilla ornare placerat. Proin ultrices placerat volutpat. </p>

            <h3>H3 Slightly smaller heading, hmm</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi imperdiet tortor id ligula vulputate volutpat.</p>
            <pre>
.empty {
  width: 320px;
  height: 200px;
  background: #f3f3f5;
  margin: 0 0 0 0;
}
            </pre>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi imperdiet tortor id ligula vulputate volutpat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>

            <ul>
              <li>Cras mattis consectetur purus sit amet</li>
              <li>Cras mattis consectetur purus sit amet fermentum</li>
              <li>Donec sed odio dui</li>
            </ul>

            <ol>
              <li>Cras mattis consectetur purus sit amet</li>
              <li>Cras mattis consectetur purus sit amet fermentum</li>
              <li>Donec sed odio dui</li>
            </ol>

            <p>Curabitur tempor vehicula porta. Phasellus magna arcu, commodo non porta vulputate, mattis eget lacus. Nulla eget leo ipsum. Suspendisse semper consequat nisi, vitae tristique neque euismod a. Aenean fringilla porttitor massa eu tincidunt. </p>
          </div><!-- .post-entry -->
          <div class="lineDivider"></div>
        </article><!-- #bogPost -->

        <div id="comments">
          <h3 class="heading"><span>Comments</span></h3>
          <ol class="commentlist">
            <li class="comment bypostauthor even">
            <div class="comment-wraper">
              <div class="comment-author vcard">
                <img width="50" height="50" class="avatar" src="http://1.gravatar.com/avatar/fc89f7267ae59b25b0156b6d47e6320e?s=80&d=http%3A%2F%2F1.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D80&r=G" alt="">
                <cite class="fn"><a class="url" rel="external nofollow" href="http://www.amayamedia.com">admin</a></cite>
              </div><!-- .comment-author -->
              <div class="comment-body">
                <div class="comment-meta">
                  <span>October 15, 2012 at 3:30 pm</span>
                  <a href="#reply">Reply</a>
                </div><!-- comment-meta -->
                <p>Donec sed odio dui. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed odio dui. Cras mattis consectetur purus sit amet fermentum. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
              </div>
            </div><!-- .commment-wraper -->							
            </li><!-- .comment -->
            <li class="comment odd">
            <div class="comment-wraper">
              <div class="comment-author vcard">
                <img width="50" height="50" class="avatar" src="http://0.gravatar.com/avatar/23463b99b62a72f26ed677cc556c44e8?s=35&d=&r=G" alt="">
                <cite class="fn"><a class="url" rel="external nofollow" href="http://www.amayamedia.com">Hill Billy</a></cite>
              </div><!-- .comment-author -->
              <div class="comment-body">
                <div class="comment-meta">
                  <span>October 15, 2012 at 3:30 pm</span>
                  <a href="#reply">Reply</a>
                </div><!-- comment-meta -->
                <p>Donec sed odio dui. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed odio dui. Cras mattis consectetur purus sit amet fermentum. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
              </div>
            </div><!-- .commment-wraper -->
            <ul class="children">
              <li class="comment even">
              <div class="comment-wraper">
                <div class="comment-author vcard">
                  <img width="50" height="50" class="avatar" src="http://0.gravatar.com/avatar/23463b99b62a72f26ed677cc556c44e8?s=35&d=&r=G" alt="">
                  <cite class="fn"><a class="url" rel="external nofollow" href="http://www.amayamedia.com">Hill Billy</a></cite>
                </div><!-- .comment-author -->
                <div class="comment-body">
                  <div class="comment-meta">
                    <span>October 15, 2012 at 3:30 pm</span>
                    <a href="#reply">Reply</a>
                  </div><!-- comment-meta -->
                  <p>Donec sed odio dui. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed odio dui. Cras mattis consectetur purus sit amet fermentum. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
                </div>
              </div><!-- .commment-wraper -->
              </li><!-- .comment -->
              <li class="comment bypostauthor odd">
              <div class="comment-wraper">
                <div class="comment-author vcard">
                  <img width="50" height="50" class="avatar" src="http://1.gravatar.com/avatar/fc89f7267ae59b25b0156b6d47e6320e?s=80&d=http%3A%2F%2F1.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D80&r=G" alt="">
                  <cite class="fn"><a class="url" rel="external nofollow" href="http://www.amayamedia.com">admin</a></cite>
                </div><!-- .comment-author -->
                <div class="comment-body">
                  <div class="comment-meta">
                    <span>October 15, 2012 at 3:30 pm</span>
                    <a href="#reply">Reply</a>
                  </div><!-- comment-meta -->
                  <p>Donec sed odio dui. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed odio dui. Cras mattis consectetur purus sit amet fermentum. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
                </div>
              </div><!-- .commment-wraper -->							
              </li><!-- .comment -->
            </ul><!-- .children -->						
            </li><!-- .comment -->
          </ol>

          <div id="reply">
            <h3 class="heading"><span>Leave a reply</span></h3>
            <form action="" method="post">
              <fieldset>
                <label for="name">Name *</label>
                <input type="text" name="name" id="name" placeholder="Your Name" />
                <label for="mail">Mail *</label>
                <input type="text" name="mail" id="mail" placeholder="Your Email" />
                <label for="website">Website</label>
                <input type="text" name="website" id="website" placeholder="Your Website" />
                <textarea rows="10" cols="10" name="message" id="message" placeholder="Your Message"></textarea>
                <input type="submit" value="Submit Comment" />
              </fieldset>
            </form>
          </div><!-- #reply -->
        </div><!-- #comments -->

      </div><!-- .container-box-inner -->
    </div><!-- .container-box -->
    <div class="box-bottom bottom-main"></div>
  </div><!-- .eight -->

  <aside id="sidebar" role="sidebar" class="four columns">
    <div class="container-box">
      <div class="container-box-inner">

        <div class="widget-container">
          <h3 class="heading"><span>Members Login</span></h3>
          <label for="username">Username</label>
          <input type="text" name="username" id="username" placeholder="Username" />
          <label for="password">Password</label>
          <input type="text" name="password" id="password" placeholder="Password" />
          <input type="button" name="submit" id="submit" value="Login" />
          <br />
          <a href="#">Lost Password?</a> | <a href="#">Register</a>
          <div class="lineDivider"></div>
        </div><!-- .widget-container -->

        <div class="widget-container side-twitter"">
          <h3 class="heading"><span>Latest Tweets</span></h3>
          <div id="tweetSide">
          </div><!-- #tweetSide -->
          <div class="lineDivider"></div>
        </div><!-- .widget-container -->

        <div class="widget-container">
          <h3 class="heading"><span>Latest Events</span></h3>
          <ul class="calendar">
            <li>
            <a href="#">Lorem ipsum dolor sit amet, 
              consectetur adipiscing elit.</a>
            <br />
            <span class="small">June 18th</span>
            </li>
            <li>
            <a href="#">Vonsectetur adipiscing elit</a>
            <br />
            <span class="small">June 13th</span>
            </li>
            <li>
            <a href="#">Dolor sit amet, consectetur adip</a>
            <span class="small">May 27th</span>
            </li>
          </ul>
          <div class="lineDivider"></div>
        </div><!-- .widget-container -->

        <div class="widget-container side-newsletter">
          <h3 class="heading"><span>Join Our Newsletter</span></h3>
          <p>Fusce cursus aliquam aliquet. Sed pretium auctor nunc elandit estibulum</p>
          <input type="text" name="email" id="email" placeholder="Your Email" />
          <input type="button" name="submit" id="submit" value="Submit" />
        </div><!-- .widget-container -->

      </div><!-- .container-box-inner -->
    </div><!-- .container-box -->
    <div class="box-bottom bottom-sidebar"></div>
  </aside><!-- .four -->

</div><!-- container -->
