<div id="page" class="container container-twelve clearfix">
  <div id="counter-container" class="twelve columns container-box">
    <div class="seven columns alpha">
      <div class="container-box-inner em-large">
        <p>7 Workshops  more than 40 sessions over 3 
        days at the Madison Square Garden, NY</p>
      </div>
    </div>
    <div class="five columns omega">
      <div class="container-box-inner">
        <div class="counter">
        </div><!-- #counter -->
        <div class="buy-tickets">
          <a href="#">Buy Tickets Now</a>
        </div>
      </div>
    </div>
  </div><!-- .twelve -->
  <div class="clear"></div>
  <div class="box-bottom bottom-full"></div>

  <div class="twelve columns">
    <div class="container-box">
      <div class="container-box-inner">

        <h1 class="heading"><span>Speakers</span></h1>

        <div class="em-medium">
          <p>We are excited about the great speakers who have already confirmed for Our Event. Check back to see which new speakers and keynotes are being added to the roster..</p>
        </div>

        <div class="lineDivider"></div>

        <h2>Keynotes</h2>

        <ul id="speakers-main-list">
          <li>
          <div class="speaker-wraper">
            <div class="speaker-thumb left">
              <img src="images/placeholders/speaker1.jpg" alt="speaker2" width="150" height="150" />
            </div><!-- .speaker-thumb -->
            <h3><a href="#">Johnathan Doe</a></h3>
            <p>Senior Engineer, <a href="#">Mozilla Foundation</a></p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi imperdiet tortor id ligula vulputate volutpat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames.<a href="#">( Read More &rarr; )</a>.</p>
          </div><!-- .speaker-wraper -->
          </li>
          <li>
          <div class="speaker-wraper">
            <div class="speaker-thumb left">
              <img src="images/placeholders/speaker2.jpg" alt="speaker2" width="150" height="150" />
            </div><!-- .speaker-thumb -->
            <h3><a href="#">Janice Doe</a></h3>
            <p>Chairperson for the <a href="#">Mozilla Foundation</a></p>
            <p>Ut molestie dictum volutpat. Nam volutpat fermentum vestibulum. Vivamus molestie fringilla nibh non fermentum. Pellentesque sodales magna et lectus euismod consequat in sed libero.<a href="#">( Read More &rarr; )</a> </p>
          </div><!-- .speaker-wraper -->
          </li>
        </ul>

        <div class="lineDivider"></div>

        <h2>Featured Speakers</h2>

        <ul id="speakers-secondary-list">
          <li>
          <div class="speaker-wraper">
            <div class="speaker-thumb left">
              <img src="images/placeholders/speaker1.jpg" alt="speaker2" width="100" height="100" />
            </div><!-- .speaker-thumb -->
            <h3><a href="#">Johnyn Doe</a></h3>
            <p>Project Lead, <a href="#">Mozilla Foundation</a></p>
            <p>Ut molestie dictum volutpat. Nam volutpat fermentum vestibulum. Vivamus.<a href="#">( Read More &rarr; )</a></p>
          </div><!-- .speaker-wraper -->
          </li>
          <li>
          <div class="speaker-wraper">
            <div class="speaker-thumb left">
              <img src="images/placeholders/speaker2.jpg" alt="speaker2" width="100" height="100" />
            </div><!-- .speaker-thumb -->
            <h3><a href="#">Janice Doe</a></h3>
            <p>Project Lead, <a href="#">Mozilla Foundation</a></p>
            <p>Ut molestie dictum volutpat. Nam volutpat fermentum vestibulum. Vivamus.<a href="#">( Read More &rarr; )</a></p>
          </div><!-- .speaker-wraper -->
          </li>
          <li>
          <div class="speaker-wraper">
            <div class="speaker-thumb left">
              <img src="images/placeholders/speaker3.jpg" alt="speaker2" width="100" height="100" />
            </div><!-- .speaker-thumb -->
            <h3><a href="#">Rebbeca Diaz</a></h3>
            <p>Project Lead, <a href="#">Mozilla Foundation</a></p>
            <p>Ut molestie dictum volutpat. Nam volutpat fermentum vestibulum. Vivamus.<a href="#">( Read More &rarr; )</a></p>
          </div><!-- .speaker-wraper -->
          </li>
          <li>
          <div class="speaker-wraper">
            <div class="speaker-thumb left">
              <img src="images/placeholders/speaker4.jpg" alt="speaker2" width="100" height="100" />
            </div><!-- .speaker-thumb -->
            <h3><a href="#">Juan Lienson</a></h3>
            <p>Project Lead, <a href="#">Mozilla Foundation</a></p>
            <p>Ut molestie dictum volutpat. Nam volutpat fermentum vestibulum. Vivamus.<a href="#">( Read More &rarr; )</a></p>
          </div><!-- .speaker-wraper -->
          </li>
          <li>
          <div class="speaker-wraper">
            <div class="speaker-thumb left">
              <img src="images/placeholders/speaker5.jpg" alt="speaker2" width="100" height="100" />
            </div><!-- .speaker-thumb -->
            <h3><a href="#">Mark Davison</a></h3>
            <p>Project Lead, <a href="#">Mozilla Foundation</a></p>
            <p>Ut molestie dictum volutpat. Nam volutpat fermentum vestibulum. Vivamus.<a href="#">( Read More &rarr; )</a></p>
          </div><!-- .speaker-wraper -->
          </li>
          <li>
          <div class="speaker-wraper">
            <div class="speaker-thumb left">
              <img src="images/placeholders/speaker6.jpg" alt="speaker2" width="100" height="100" />
            </div><!-- .speaker-thumb -->
            <h3><a href="#">Matt Skerlson</a></h3>
            <p>Project Lead, <a href="#">Mozilla Foundation</a></p>
            <p>Ut molestie dictum volutpat. Nam volutpat fermentum vestibulum. Vivamus.<a href="#">( Read More &rarr; )</a></p>
          </div><!-- .speaker-wraper -->
          </li>
        </ul>

      </div><!-- .container-box-inner -->
    </div><!-- .container-box -->
    <div class="box-bottom bottom-full"></div>
  </div><!-- .twelve -->
</div><!-- container -->
