<div id="page" class="container container-twelve clearfix">
  <div class="eight columns">
    <div class="container-box">
      <div class="container-box-inner">

        <h1 class="heading"><span>Text &amp; Images</span></h1>

        <h2>Image Flush Left</h2>
        <img src="images/placeholders/city-lights.jpg" alt="City Lights" width="240" height="180" class="left" />
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi imperdiet tortor id ligula vulputate volutpat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Curabitur tempor vehicula porta. Phasellus magna arcu, commodo non porta vulputate, mattis eget lacus. Nulla eget leo ipsum. Suspendisse semper consequat nisi, vitae tristique neque euismod a. Aenean fringilla porttitor massa eu tincidunt.</p>

        <pre>&lt;img  src="../" class="left" /&gt;</pre>

        <div class="clearDivider"></div>

        <h2>Image Flush Right</h2>
        <img src="images/placeholders/city-lights.jpg" alt="City Lights" width="240" height="180" class="right" />
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi imperdiet tortor id ligula vulputate volutpat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Curabitur tempor vehicula porta. Phasellus magna arcu, commodo non porta vulputate, mattis eget lacus. Nulla eget leo ipsum. Suspendisse semper consequat nisi, vitae tristique neque euismod a. Aenean fringilla porttitor massa eu tincidunt.</p>

        <pre>&lt;img  src="../" class="right" /&gt;</pre>

        <div class="clearDivider"></div>

        <h2>Image Full Width Centered</h2>
        <img src="images/placeholders/city-lights2.jpg" alt="City Lights" width="100%" class="center" />
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi imperdiet tortor id ligula vulputate volutpat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Curabitur tempor vehicula porta. Phasellus magna arcu, commodo non porta vulputate, mattis eget lacus. Nulla eget leo ipsum. Suspendisse semper consequat nisi, vitae tristique neque euismod a. Aenean fringilla porttitor massa eu tincidunt.</p>

        <p>Ut molestie dictum volutpat. Nam volutpat fermentum vestibulum. Vivamus molestie fringilla nibh non fermentum. Pellentesque sodales magna et lectus euismod consequat in sed libero. In non mollis tortor. Sed libero augue, venenatis vitae lobortis vel, lobortis id dolor. Curabitur iaculis varius elit, accumsan malesuada urna vulputate eget. Etiam et velit et diam congue vestibulum. Phasellus commodo iaculis enim, euismod vehicula dolor laoreet eu. </p>

        <pre>&lt;img  src="../" class="center" width="100%" /&gt;</pre>

      </div><!-- .container-box-inner -->
    </div><!-- .container-box -->
    <div class="box-bottom bottom-full"></div>
  </div><!-- .eight -->

  <aside  class="four columns">
    <div class="container-box">
      <div class="container-box-inner">

        <h1 class="heading"><span>Features</span></h1>

        <ul>
          <li><a href="fullwidth.html">Full-Width Post/Page</a></li>
          <li><a href="text-images.html">Text and Images</a></li>
          <li><a href="buttons-lists.html">Buttons and Lists</a></li>
          <li><a href="columns.html">Columns</a></li>
          <li><a href="lightbox.html">Lightbox</a></li>
          <li><a href="typography.html">Typography</a></li>
        </ul>

      </div><!-- .container-box-inner -->
    </div><!-- .container-box -->
    <div class="box-bottom bottom-sidebar"></div>
  </aside><!-- .four -->
</div><!-- container -->
