<div id="page" class="container container-twelve clearfix">
  <div id="counter-container" class="twelve columns container-box">
    <div class="seven columns alpha">
      <div class="container-box-inner em-large">
        <p>7 Workshops  more than 40 sessions over 3 
        days at the Madison Square Garden, NY</p>
      </div>
    </div>
    <div class="five columns omega">
      <div class="container-box-inner">
        <div class="counter">
        </div><!-- #counter -->
        <div class="buy-tickets">
          <a href="#">Buy Tickets Now</a>
        </div>
      </div>
    </div>
  </div><!-- .twelve -->
  <div class="clear"></div>
  <div class="box-bottom bottom-full"></div>

  <div class="twelve columns">
    <div class="container-box venue">
      <div class="container-box-inner">

        <h1 class="heading"><span>Venue</span></h1>
        <div class="one_half">
          <h2>Madison Square Garden</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi imperdiet tortor id ligula vulputate volutpat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Curabitur tempor vehicula porta. Phasellus magna arcu, commodo non porta vulputate, mattis eget lacus. Nulla eget leo ipsum. Suspendisse semper consequat nisi, vitae tristique neque euismod a. Aenean fringilla porttitor massa eu tincidunt. </p>
          <div>
            <strong>Phone:</strong> (546) 555 5555<br />
            <strong>Fax:</strong> (567) 555 5555<br />
            <strong>Email:</strong> email@yourdomain.com<br />
          </div>
        </div><!-- .one_half -->
        <div class="dotDivider"></div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi imperdiet tortor id ligula vulputate volutpat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Curabitur tempor vehicula porta. Phasellus magna arcu, commodo non porta vulputate, mattis eget lacus. Nulla eget leo ipsum. Suspendisse semper consequat nisi, vitae tristique neque euismod a. Aenean fringilla porttitor massa eu tincidunt.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi imperdiet tortor id ligula vulputate volutpat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Curabitur tempor vehicula porta</p>
        <div class="dotDivider"></div>
        <h2>Directions</h2>
        <div class="two_thirds">
          <strong>By Car</strong>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi imperdiet tortor id ligula vulputate volutpat.</p>
          <strong>By Train</strong>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi imperdiet tortor id ligula vulputate volutpat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
          <address><strong>4 Pennsylvania Plaza, New York, NY 10119</strong></address>
        </div><!-- .two_third -->
        <div class="one_third last">
          <iframe width="275" height="225" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?hl=en&amp;gl=us&amp;daddr=4+Pennsylvania+Plaza,+New+York,+NY+10119&amp;panel=1&amp;f=d&amp;fb=1&amp;dirflg=d&amp;geocode=0,40.750354,-73.993371&amp;cid=0,0,11676029141957302321&amp;hq=madison+square+garden&amp;hnear=0x89c244adbf403f21:0xd167f4df94bcd3fb,Brooklyn,+NY+11210&amp;ie=UTF8&amp;t=v&amp;ll=40.750354,-73.993371&amp;spn=0.006295,0.00831&amp;output=embed"></iframe>
        </div><!-- .one_third -->

      </div><!-- .container-box-inner -->
    </div><!-- .container-box -->
    <div class="box-bottom bottom-full"></div>
  </div><!-- .twelve -->
</div><!-- container -->
