<div id="page" class="container container-twelve clearfix">

  <div class="eight columns">
    <div class="container-box">
      <div class="container-box-inner">

        <h1 class="heading"><span>Get Involved</span></h1>

        <p><span class='dropcap'>R</span>eady to connect with the local tech community for a good cause? GiveCamp needs your support. </p>

        <p>For one weekend in October, we'll take on the technology wish lists of 15-20 non-profit organizations, and we're looking for about <strong>100-150</strong> volunteers, both technical and non-technical, to help us do it.</p>

        <blockquote class=''>
          <p>The non-profits that participate at GR GiveCamp are great organizations and I wanted to help them accomplish their goals.   I had a great time creating a positive impact on these organizations while collaborating with and learning from many different technology and community leaders in the area.  The experience was invaluable.</p>
          <p>&ndash; Adam Delong</p>
        </blockquote>


        <h2>Technical volunteers</h2>
        <p>We're looking for a variety of skill-sets and talents. If you think you can help, you're skills are needed!</p>


        <ul class='check'>
          <li>graphic or UX designers</li>
          <li>back-end developers</li>
          <li>front-end developers</li>
          <li>project managers</li>
          <li>DBAs</li>
          <li>non-profit technical consultants </li>
          <li>web strategists</li>
        </ul>

        <h2 style='padding-top: 1em'>Non-technical volunteers</h2>
        <p>Beyond the technology, there are many other aspects that make GiveCamp a success. We need non-technical volunteers to run errands, help with setting up and cleaning up, and everything in between. Whether you can offer a couple hours of your time or join GiveCamp for a couple days, your support is needed.</p>

        <div class='clearDivider'></div>

      </div><!-- .container-box-inner -->
    </div><!-- .container-box -->
    <div class="box-bottom bottom-full"></div>
  </div><!-- .eight -->

  <div class="four columns last">
    <%= partial "partials/non-profits" %>
  </div>

</div><!-- container -->
